<div class="team">
  
  <div id="team_header" class="clearfix">
    <% if @team.name %>
  
    <%= "Team " + @team.name %>

    <% else %>
  
    <%= render :partial => "form", :locals => {:team_id => params[:id]}%>
  
    <% end %>  
  </div>
  
  <div id="r1" class="clearfix">
    <ul id="p1" class="result clearfix"></ul>
    <ul id="p2" class="result clearfix"></ul>
    <ul id="p3" class="result clearfix"></ul>
  </div>
  
  <div id="r2" class="clearfix">
    <ul id="p4" class="result clearfix"></ul>
    <ul id="p5" class="result clearfix"></ul>
    <ul id="p6" class="result clearfix"></ul>
  </div>
</div>