<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body id="index">
  <div id="signup" class="clearfix">
    <div id="hp_form" class="clearfix">
      <% if !current_user %>
      <%= render :partial => "signup" %>
      <% else %>
      <p><%= link_to(current_user.username + "'s crazy awesome teams!", user_url(current_user.id)) %></p>
      <% end %>
    </div> 
  </div>
  
  <div id="search_header" class="clearfix">
    Pokemon Search
  </div>
  
  <div id="search" class="clearfix">
    <%= render :partial => "form" %>
    <ul class="result p1">
      
    </ul>
  </div>

</body>
</html>