<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body id="index">
  <div id="signup" class="clearfix">
    <div id="hp_form" class="clearfix">
      <% if !current_user %>
      <%= link_to("Sign up here", "/signup") %>
      <% end %>
    </div> 
  </div>
  
  <div id="search_header" class="clearfix">
    Pokemon Search
  </div>
  
  <div id="search" class="clearfix">
    <%= render :partial => "form" %>
    <ul class="result p1">
      
    </ul>
  </div>

</body>
</html>