<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body id="index">
  <div id="search_container" class="clearfix">
    <div id="search_header" class="clearfix">
      Pokemon Search
    </div>
    <%= render :partial => "form" %>

  </div>
  
  <% if !current_user %>
  <div id="signup" class="clearfix">
    <div id="hp_form" class="clearfix">
      <%= render :partial => "signup" %>
    </div> 
  </div>
  <% end %>
    
</body>
</html>