<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="profile">
  
  <div id="profile">
    
    
    
    <div id="search" class="clearfix">
      <h1>New Team</h2>
        <div id="form">
          <%= render :partial => "new_team"%>
          
        </div>
        <ul class="result p1">

        </ul>                     
                                  
        <ul class="result p2">              

        </ul>                     
                                  
        <ul class="result p3">              

        </ul>                     
                                  
        <ul class="result p4">              

        </ul>                     
                                  
        <ul class="result p5">              

        </ul>                     
                                  
        <ul class="result p6">              

        </ul>
    
      </div>
  
    </div>
    <div id = "show_teams" class="clearfix">

      <p><%= @user.username %>'s Teams:</p>

      <div id  = "teams_index_list">
        <% @user.teams.each do |team| %>
        <li>


          <%= link_to(team.id, team_path(team.id)) %>
 

        </li>
        <% end %>
      </div>
      
    </div>
  </body>
  </html>