<h1>Listing pokemons</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pokemons.each do |pokemon| %>
  <tr>
    <td><%= link_to 'Show', pokemon %></td>
    <td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
    <td><%= link_to 'Destroy', pokemon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pokemon', new_pokemon_path %>
