<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pokemon!</title>
</head>
<body>

  <h1>Pokmon</h1>

  <form action="/search" method="get">
    <input type="search" name="query" placeholder="Pokemon Search" >
    <button name="button">Search</button>
  </form>

  <ul id="result">
    
  </ul>
  
</body>
</html>