<div class="team">

  <div id="r1" class="team_row">
    <ul class="result p1"></ul>
    <ul class="result p2"></ul>
    <ul class="result p3"></ul>
  </div>
  
  <div id="r2" class="team_row">
    <ul class="result p4"></ul>
    <ul class="result p5"></ul>
    <ul class="result p6"></ul>
  </div>
</div>