<div class="team">
  <table>
    <th>
    </th>
    <tr>
      <td><ul class="result p1"></ul></td>
      <td><ul class="result p2"></ul></td>
      <td><ul class="result p3"></ul></td>
    </tr> 
    <tr>  
      <td><ul class="result p4"></ul></td>
      <td><ul class="result p5"></ul></td>
      <td><ul class="result p6"></ul></td>
    </tr>
  
  </table>
</div>