<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="profile">
  
  <div id="profile">
    
    <h1>POK MON</h2>
    
      <div id="search">
        <div id="form">
          <%= render :partial => "new_team"%>
          <button id="save">Save Team</button>
        </div>
        <ul class="result p1">

        </ul>                     
                                  
        <ul class="result p2">              

        </ul>                     
                                  
        <ul class="result p3">              

        </ul>                     
                                  
        <ul class="result p4">              

        </ul>                     
                                  
        <ul class="result p5">              

        </ul>                     
                                  
        <ul class="result p6">              

        </ul>
    
      </div>
  
    </div>
  </body>
  </html>